<%- include ("../../partials/header") %>
<%- include ("../../partials/messageBox") %>

<div class="items">
    <h2>Items Index</h2>
    <a href="/inventory/add">Add Item</a>
    <% items.forEach(function (item, i) { %>
        <p> <%= item.id %> </p>
        <p> <%= item.name %> </p>
    <% }) %>
</div>

<style>
    .items {
        border: 1px solid blue;
    }
</style>
