<%- include ("../../partials/header") %>
<%- include ("../../partials/messageBox") %>

<div>
    <b>INTERNAL CATEGORIES</b>
    <% categories.forEach(function (category, i) { %>
        <p> <%= category.id %> </p>
        <p> <%= category.name %> </p>
    <% }) %>
</div>

<a href="/internal/categories/new">Create Category</a>
