<%- include ("../../partials/header") %>
<%- include ("../../partials/messageBox") %>

<div>
    <b>INTERNAL CATEGORIES</b>

    <table>
        <tr>
          <th>ID</th>
          <th>Name</th>
        </tr>
        <% categories.forEach(function (category, i) { %>
        <tr>
            <td> <%= category.id %> </td>
            <td> <%= category.name %> </td>
        </tr>
        <% }) %>
      </table>
</div>

<a href="/internal/categories/new">Create Category</a>
