<div id="carousel-container">
    CAROUSEL
    <div id="carousel">

    </div>
</div>

<style>
    #carousel {
        border: 1px solid blue;
        width: 80vw;
        height: 40vh;
    }

    #carousel-container {
        border: 1px solid black;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
</style>