<div>
    <b>INTERNAL SHOPS</b>
    <% shops.forEach(function (shop, i) { %>
        <p> <%= shop.id %> </p>
        <p> <%= shop.name %> </p>
    <% }) %>
</div>

<a href="/internal/shops/new">Create Shop</a>
