<%- include ("../../partials/header") %>
<%- include ("../../partials/messageBox") %>

<form action="/internal/shops/create" method="post">
    <label for="name">Enter Shop name: </label>
    <input id="name" type="text" name="name">

    <label for="categoryId">Pick Category: </label>
    <select id="categoryId" name="categoryId">
    <% categories.forEach(function (category, i) { %>
        <option value="<%= category.id %>"> <%= category.name %> </option>
    <% }) %>
    </select>

    <input type="submit">
</form>
