<div id="header">
    <a href="/">Home</a>
    <a href="/dashboard">Dashboard</a>
    <a href="/inventory">Inventory</a>
    <a href="/">Log In</a>
    <a href="/">Sign Up</a>
</div>

<style>
    #header {
        border: 1px solid red;
        flex-direction: row;
    }
</style>
