<div class="<%= flash ? flash.type : null %>">
    <p><%= flash ? flash.message : null %></p>
</div>

<style>
    .success {
        background-color: rgb(132, 247, 121);
    }

    .error {
        background-color: rgb(246, 114, 114);
    }
</style>