<%- include ("../partials/header") %>

<div>
    <b>CATEGORIES (Main)</b>
    <% categories.forEach((category) => { %>
    <a href="/categories/<%= category.slug %>">
        <div class="category">
            <p> <%= category.name %> </p>
        </div>
    </a>
    <% }) %>
</div>

<style>
    .category {
        height: 50px;
        width: 50px;
        border: 1px solid black;
    }
</style>
