<div>
    <h1>SHOP PAGE</h1>

    <p> <%= shop.id %> </p>
    <p> <%= shop.name %> </p>

    <b>SHOP ITEMS</b>
    <% items.forEach(function (item, i) { %>
        <p> <%= item.id %> </p>
        <p> <%= item.name %> </p>
    <% }) %>
</div>
